.background {
  background-color: rgb(32, 32, 32);
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}
.appBar {
  display: flex;
  align-items: flex-end;
}
.text {
  color: white;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12.5%;
}
.hello {
  order: 1;
}
.name {
  order: 2;
}
.socialIcons {
  position: absolute;
  right: 0px;
  padding-right: 25px;
  display: flex;
}
.leftSocialIcon {
  padding-right: 25px;
}
